# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# MongoDB local data
dump/
data/

# Temp files
*.tmp
*.mp4
*.avi
